NODE_ENV=development
PORT=5000
MONGODB_URI=yourmongodburi
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5000
GOOGLE_CLIENT_ID=your_google_oauth_client_id
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
EMAIL_USER=your_email_user_for_sending_emails
EMAIL_PASS=your_email_password_for_sending_emails
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX_REQUESTS=100
//for JS frequency (can be daily, weekly, monthly)
FREQUENCY=daily
DISABLE_ADMIN_MESSAGE_SCHEDULER=false
ADMIN_MESSAGE_DIGEST_TIME=09:00
BREVO_SMTP_HOST=brevo_smtp_host
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=brevo_smtp_user
BREVO_SMTP_PASS=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=email_address_from_which_emails_will_be_sent